
.photo {
  padding-top: 10px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.photoInfo {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
  color: #4b4f60;
  text-align: center;
  padding-bottom: 15px;
  @media (max-width: 450px) {
    font-size: 14px;
  }
}
.photolikes {
  display: flex;
  align-items: center;
}

.photoLikeBtn{
  padding: 5px;
  height: 34px;
  color: #767676;
  fill: currentColor;
  background-color: #fff;
  border:1px solid #d1d1d1;
  border-radius: 5px;
  &:hover {
    color: #9c9c9c;
    border:1px solid #767676;
  }
}

.photoLikeBtnLiked{
  padding: 5px;
  height: 34px;
  color: #fff;
  fill: currentColor;
  background-color: red;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.photoAndLikesCount {
  font-weight: bold;
  padding: 0 10px;
  color: #032e4c;
}

.photoDescription {
  padding: 10px 10px;
}

.photoLocation {
  padding: 0 10px;
}